<ul class="navbar">
  <li><a href="index.html">home</a></li>
  <li><a href="about.html">about</a></li>
  <li><a href="blog.html">blog</a></li>
  <li>
    <div class="dropdown">
      <button class="dropdown-button">
        <a href="https://www.massacademy.org">mass academy</a>
      </button>
      <div class="dropdown-content">
        <a href="mass_academy/humanities.html">humanities</a>
        <a href="#physics">physics</a>
        <a href="#spanish">spanish</a>
        <a href="#stem1">stem1</a>
        <a href="#stem2">stem2</a>
        <a href="#math">math</a>
        <a href="#cs">cs</a>
      </div>
    </div>
  </li>
</ul>
