<span class="social-icons">
  <a
    href="https://github.com/Rtificer"
    target="_blank"
    rel="external"
    title="Github"
  >
    <svg class="github">
      <use href="assets/images/github.svg#icon-github"></use>
    </svg>
  </a>

  <a
    href="https://www.linkedin.com/in/alachie-yeager/"
    target="_blank"
    rel="external"
    title="LinkedIn"
  >
    <svg class="linkden">
      <use href="assets/images/linkedin.svg#icon-linkedin"></use>
    </svg>
  </a>

  <a
    href="https://en.pronouns.page/@Artificer"
    target="_blank"
    rel="external"
    title="Pronouns Page"
  >
    <svg class="pronouns-page">
      <use href="assets/images/pronounspage.svg#icon-pronounspage"></use>
    </svg>
  </a>
</span>
